.clickable {
    cursor: pointer;
}

/*.admin .container {*/
    /*background: rgba(0,0,0,0.8);*/
/*}*/

.admin table .detail {
    display: none;
    background: #75190A;
    border-top: 2px solid #fff;
}

.admin table .clickable {
    transition: 1s all ease;
}

.admin table .clickable.loading {
    background: green;
}

.admin table .detail input {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    border: 0;
    color: #fff;
}

.admin table .detail tr td:last-of-type {
    padding: 0;
}

.admin .active-row-title {
    background: #75190A;
    border-bottom: 2px solid #fff;
}

.admin .button {
    width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

textarea{
    resize: none;
}

input {
    color: #000;
}

.table-bg {
    border: 1px solid white;
    background: rgba(1,1,1, 0.5);
}

.user-info {
    margin-left: 34px;
    margin-right: 60px;
}

.user-info .title h2 {
    padding-left: 0px;
}

.user-info .title a {
    margin-top: 21px;
}

.user .row {
    margin-bottom: 30px;
    padding:0;
}

.unsub {
    border: 1px solid black;
    width: 60%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

.unsub h2 {
    color: #575757;
}

.unsub p {
    color: #676767;
}
    
.unsub .btn {
    background-color: grey;
    border-radius: 3px;
    border-color: grey;
    margin-right: 10px;
}

.twitter, .footer-right {
    margin: 10px 0;
}

.price{
    position: absolute;
    right:10px;
    bottom: 10px;
    border-bottom: 1px solid dimgray;
}

.sale{
    position: absolute;
    right:10px;
    bottom: 30px;
    color: red;
    text-decoration: line-through;
}

.product_show{
    font-size: 23px;
    text-shadow: 2px 2px black;

}

.product_show_sale{
    font-size: 30px;
    bottom:2px;
    text-shadow: 2px 2px black;
    border-bottom: none;
}

.addto{
    margin-left: 50px;
}

.quantity{
    width: 50px;
}

.section #sale1 {
    position: absolute;
    top: -5px;
    right: 10px;
    background: url("../img/sale.png") no-repeat;
    background-size: contain;
    height: 80px;
    width: 80px; }
