.section {

  .game-post:first-child {
    margin-top: 50px;
  }

  .game-post {
    color: black;
    background: white;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 100px;
    border-radius: 25px;

    img {
      height: 200px;
      width: 100%;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }

    p {
      padding: 10px;
    }

    .title {
      text-align: center;
    }

    #steam {
      background: url("../img/steam.png");
      min-height: 55px;
      width: 65px;
      background-size: 60px;
      background-repeat: no-repeat;
      float: right;
    }
  }
}